header {

  .search-block-wrapper {
    display: none;
    .search-block {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      .search-bar {
        flex-grow: 1;
      }
    }
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .menu-item {
      padding: 10px;
      font-size: large;
      font-weight: bold;
      font-family: sans-serif;

    }
  }
}
